.facility-manage {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .facility-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .form-container, .table-container {
    width: 70%;
  }
  
  .form-container {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .table-container {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .facility-image {
    max-width: 100px;
    height: auto;
  }
  